/***************** Navbar Classes ******************************************************************************/
.navbar {
    width: 100%;
}

.navbar-fixed {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar-dark {
    color: #fff;
}

.menu .menu-item {
    display: inline-block;
    text-transform: uppercase;
}

.menu .menu-item a {
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}

.navbar-dark .menu .menu-item a:link,
.navbar-dark .menu .menu-item a:visited {
    color: #999;
}

.search-box {
    padding: 0 20px;
}

.search-box:hover {
    background: red;
    cursor: pointer;
}

/************logo************************************************************************************************/

.logo {
    background: url("p_images/parallax1.jpg");
    width: 100%;
    height: 400px;
}

.logo h2 {
    background: black;
    color: white;
    display: inline-block;
}

/****About me*****************************************************************************************************/
.light-bar {
    background: #ddd;
}

.dark-bar {
    background: #555;
    text-align: center;
    padding: 8px;
    color: white;
    position: relative;
    top: 0;
    left: 0;
}

/**** After About me*****************************************************************************************************/

.afteraboutme {
    text-align: center;
    background: #555;
    color: white;
}

/**** Portfolio*****************************************************************************************************/

.portfolio {
    background: url("p_images/parallax2.jpg");
    width: 100%;
    height: 400px;
}
.loadbutton h3{
    padding: 10px;
    background: #ddd;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
    display: inline-block;
}
.loadbutton h3:hover{
    background: #999;
}

/******Flex part*******/
.mywork .flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
}

.item {
    background: #f4f4f4;
    border: #ccc 1px solid;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    flex: 1;
    flex-basis: 200px;
}

/***************** Contact ******************************************************************************/

.contact{
    background: url("p_images/parallax3.jpg");
    width: 98%;
    height: 400px;
}
/***************** Footer ******************************************************************************/

footer{
    background: #999;
    color: white;
}
footer p{
    color: white;
}
footer:hover{
    background: black;
}
/***************** Helper Classes ******************************************************************************/

.container {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.container-fluid {
    width: 100%;
    box-sizing: border-box;
}


p {
    color: #999;
    text-transform: capitalize
}

.row {
    margin-left: -15px;
}

.clear-fix:after,
.row:after {
    content: '';
    display: block;
    clear: both;
}

.row [class*=col-] {
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.row .col-12 {
    width: 100%;
}

.row .col-11 {
    width: 91.67%;
}

.row .col-6 {
    width: 50%;
}

.row .col-4 {
    width: 33.33%;
}

.row .col-3 {
    width: 25%;
    
}

.row .col-1 {
    width: 8.33%;
}

[class*=col-].no-top-bottom-padding,
.row.no-top-bottom-padding [class*=col-] {
    padding-bottom: 0;
    padding-top: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.p-t-10 {
    padding-top: 10px;
     !important
}

.p-b-10 {
    padding-bottom: 10px;
}

.m-0 {
    margin: 0;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-80 {
    margin-top: 80px;
}

.img-responsive {
    width: 100%;
}
